@font-face {
    font-family: Karla;
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -----------gloabale einstelungen */

html {
    font-family: Karla;
    color: #000;
}


/* ----------globale product einstelungen */
.productname {
    grid-area: productname;
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25rem;
}

* .brand {
    grid-area: brand;
    color: #848484;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.price {
    grid-area: price;
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25rem;
}





/* ---------start hover effect fur images */
.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container:hover .image {
    opacity: 0.3;
}

/* ---------end hover effect fur images */



/* ----------header und nav */

header nav li {
    list-style: none;
    display: inline;
    padding-left: 3rem;

}

header nav li a {
    text-decoration: none;
    color: #323A45;
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

header .logo {
    color: #323A45;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* .navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}


main {
    padding: 16px;
    margin-top: 30px;
    height: 3000px;
} */





header {
    /* ab hier grid */
    display: grid;
    height: 6vh;
    width: 100vw;
    grid-template-columns: repeat(2 1fr);
    grid-template-areas: "logo nav";
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav {
    grid-area: nav;
}

.logo {
    grid-area: logo;
}





/* main-grid */

.container-grid-7products {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 300px 300px 300px; */
    grid-template-areas:
        "bigPicture bigPicture bigPicture"
        "smallPicture1 smallPicture2 smallPicture3"
        "smallPicture4 smallPicture5 smallPicture6";
    gap: 1rem;
    padding: 1rem 2rem;

}

.bigPicture {
    grid-area: bigPicture;
    width: 100%;
    /* border: 2px solid rgb(0, 102, 255); */
    margin-bottom: 1rem;
}

.smallPicture1 {
    grid-area: smallPicture1;
    /* border: 2px solid red; */
}

.smallPicture2 {
    grid-area: smallPicture2;
    /* border: 2px solid rgb(130, 62, 62); */
}

.smallPicture3 {
    grid-area: smallPicture3;
    /* border: 2px solid rgb(208, 49, 49); */
}

.smallPicture4 {
    grid-area: smallPicture4;
    /* border: 2px solid rgb(0, 255, 89); */
}

.smallPicture5 {
    grid-area: smallPicture5;
    /* border: 2px solid rgb(34, 255, 0); */
}

.smallPicture6 {
    grid-area: smallPicture6;
    /* border: 2px solid rgb(255, 251, 0); */
}


.productInfo {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-areas:
        "productname price"
        "brand brand";
    justify-content: space-between;
    margin-top: 1rem;
}




.container-grid-4products {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 300px 300px 300px; */
    grid-template-areas:
        "bigPicture bigPicture bigPicture"
        "smallPicture1 smallPicture2 smallPicture3";
    gap: 1rem;
    padding: 1rem 2rem;

}




/* ---------------footer */



footer {
    margin-top: 2rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-areas:
        "footer1 footer2 footer3 footer4"
        "copyright copyright copyright copyright"
    ;
    /* border: 2px solid red; */
    padding: 1rem 2rem;
    gap: 0.5rem;

}

footer a {
    text-decoration: none;
    color: #000;
}

footer li {
    list-style: none;
}

.footer1 {
    grid-area: footer1;

}

.footer2 {
    grid-area: footer2;

}

.footer3 {
    grid-area: footer3;

}

.footer4 {
    grid-area: footer4;

}

.copyright {
    grid-area: copyright;
    /* border: 1px solid green; */
    color: #848484;
    font-size: 0.66rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.catergoryName {
    font-size: 0.8rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.categoryText {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 60%;

}

.categoryText a {
    font-size: 0.6rem;
    font-weight: 400;

}

.footer3 li:nth-child(2) {
    font-style: italic;
}